/* red-hat-display-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/red-hat-display-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* red-hat-display-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/red-hat-display-v19-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* red-hat-display-500italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/red-hat-display-v19-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* red-hat-display-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/red-hat-display-v19-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* red-hat-display-600italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/red-hat-display-v19-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* red-hat-display-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/red-hat-display-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/red-hat-display-v19-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v21-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v32-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root{
  --theme:#0000;
  --sec:#252525;
  --white:#fff;
  --gray:#9b9b9b;
  --back:#f3f3f3;
  --font1:'Red Hat Display';
  --font2:'Poppins';
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
   height: 100%;
   overflow-x: hidden; 
}
ul , li{
  list-style: none;
}
a{
  text-decoration: none;
  color:inherit;
}
body{
 
  font-family: var(--font2);
}
.spacer2{
  padding:96px 32px 96px 32px;
}

/* --------------------header------------------------------ */
.fix{
  position: sticky;
  top: 0;
  z-index: 1111;
  width: 100%;
}
.container{
  max-width: 1440px;
  padding: 0px 12px 0px 12px;
  margin: auto;
  
}
.nav{
  padding: 8px 12px 8px 0px;
  border-bottom: 2px solid #dee2e6;
  background-color: var(--white);
}
.logo img{
 background-image: cover;
 object-fit: cover;
 width: 207px;
 height: 57px;
}
.main_menu li.add{
  color:black;
  background-color: green;
}

  
 .main_menu li a{
  padding: 19.200px 8px;
  font-size: 15px;
  font-family: var(--font2);
  font-weight: 600;
  color: #000000a6;
}
.toggle::after {
  display: inline-block;
  margin-left: 4px;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.main_menu li{
  position: relative;
 
}
.main_menu li a{
  border-bottom: 2px solid transparent;
  font-size: 0.95rem;
  font-weight: 600;
  font-family: var(font2);
  padding-block: 1.2rem;

}
.main_menu li:hover .chage_col{
  color:var(--gray);
}
.submenu{
  position: absolute;
  background-color:var(--sec);
  top: 180%;
  z-index: 1000;
  transition: .5s ease-in-out;
  padding: 8px 0px 8px 0px;
  padding-block: 0.5rem;
  display: none;
  }
  
.submenu li a{
  display: block;
  white-space: nowrap;
  padding-block: 0.75rem;
 font-weight:400;
  font-size: 15px;
  font-family: var(--font1);
  font-style: normal;
  color: var(--white);
  padding-inline: 2.75rem;
}
.submenu li a:hover{
  color: var(--gray);
}

.submenu.active  {
  display: block;
  color: black; 
}

.main_menu li:focus-within .submenu {
  display: block;
}
.toggle_icon,.mobaile_main_menu
{
 display: none;
}

/* ---------------------------section 1---------------------------------------- */
.social {
  display: flex;
  flex-direction: row;
}
.stroke {
  -webkit-text-stroke: 1px black;
  color: transparent;
  font-family: var(--font1);
  font-weight:900;
  font-size: 100px;
}
.pro{
  font-size: 32px;
}
.p , .p1{
  color: var(--gray);
}
.link{
  font-weight: 700;
  font-family: var(--font1);
  transition: 0.7s;
}
.link:hover{
  transform: translateX(35px);
}
.banner-image{
  margin: 0px -70px 0px 70px;
  transform: scale(1);
}
.sec{
  background-color: var(--back);
}

/* -------------------section 2---------------------------------- */
.heading {
  margin-top: -130px;
  font-family: var(--font-2);
  font-size: 1.9rem;
  font-weight: 700;
  margin-left: 1%;
}
.stroke2{
  -webkit-text-stroke: 1px #ddd;
  color: transparent;
  font-family: var(--font1);
  font-weight:900;
  font-size: 100px;
}
.img{
  width: 50.98px;
  height: 50.98px;
}
.p1{
  width: 300px;
}
/* --------------------section 3--------------------------- */
.heading1 {
  margin-top: -100px;
  font-family: var(--font-2);
  font-size: 1.9rem;
  font-weight: 700;
  margin-left: 1%;
}
.text1{
  font-size: 24px;
  font-family: var(--font1);
}
.pera , .accent{
  color: var(--gray);
}

.btn2{
background-color: black;
color: white;
border: none;
padding: 16px 24px;
font-weight: 700;
font-family: var(--font1);
transition: 0.5s ease-in-out;
}
.btn2:hover{
  transform: translateX(35px);
}
/* -------------------------section 4---------------------------------- */
.progress1 {
  --progress-color:#878787;
  --secondary-progress-color: var(--secondary-color);
  --animation-duration: 2000;
}

.progress-bar1 {
  position: relative;
  height: 8px;
  background-color:var(--back);
  display: flex;
  border-radius: 3px;
}
.progress-bar1 .progress-value {
  height: 100%;
  width: calc(var(--progress)* 1%);
  background-color: #878787;
  position: relative;
  border-radius: 3px;
  animation: load;
  animation-fill-mode: forwards;
  animation-duration: calc(var(--animation-duration)* 1ms);
  animation-timing-function: linear;
  animation-delay: 500ms;
  color: black;
}
.progress-bar1.percentage-label1::after {
  counter-reset: percentage var(--progress);
  content: counter(percentage) '%';
  display: block;
  position: absolute;
  left: calc((var(--progress)* 1%) - 2rem);
  animation: load;
  animation-fill-mode: forwards;
  animation-duration: calc(var(--animation-duration)* 1ms);
  animation-timing-function: linear;
  animation-delay: 500ms;
  color: #878787;
  font-size: 14px;
  line-height: 1.2;
  font-family: var(--font1);
  top: -1.2rem;
}
@property --progress {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0;
}
@keyframes load {
  to {
      --progress: var(--value)
  }
}
/* -------------------------section 5---------------------------------------------- */
.color{
  background-color: var(--back);
}
/* ------section 5------ */
.imagess {
  padding-right: 96px;
  margin-bottom: 110px;
}

.port {
  margin-top: 350px;
  padding-left: 48px;
}
.tree{
  padding-left: 144px;
}
.concept{
  width: 100%;
  margin-bottom:50px;
   color: #9b9b9b;
   padding-right: 80px;
}

/* ------------------------section 6---------------------------------- */
.box{
  padding:48px 24px 48px 24px;
  border: 1px solid #dee2e6;
}
.owl-carousel .owl-item .image {
  display: block;
  width: 70px;
}
.about{
  font-family: "roboto";
  }
  .about .payet{
    font-size: 1.25rem !important;
    font-weight: 700 !important;
  }
  .desi{
   color:#9b9b9b;
  }
  .sub{
    font-family: var(--font1);
    font-style: italic;
    line-height: 1;
    letter-spacing: 2px;
    font-size: 20px;
  }
  /* ---------------------------section 7-------------------------------------- */
  
  .form input {
    background-color: transparent;
    border-radius: 0;
  }
  .around {
    border: none;
  }
.form input.form-check-input:checked {
  border: 1px solid blue;
  color: blue;
}

   
input[type="email"]:focus {
  outline: none; 
}
.form-check-input:checked[type=checkbox] {
  background-image: url('/assets/icon.svg');
}
.form input.form-check-input {
  background-color: transparent;}

  /* -----------------------section 8--------------------------------- */
  .box{
    padding: 48px 24px;
    
  }
  .divider {
    display: flex;
    align-items: center;
}

.divider::after {
  display: block;
  content: "";
  border-bottom: 0;
  flex-grow: 1;
  border-top: 3px solid #8692af;
  max-width: 30px;
  min-width: 30px;
}
input[type="email"]:focus {
  outline: none; 
}

input[type="email"]:focus , input[type="checkbox"]:focus , textarea[type="text"]:focus{
  outline: none;
  box-shadow: none; 
}
.form input.form-check-input:checked {
  border: 1px solid blue;
  color: blue;
}
.form-check-input:checked[type=checkbox] {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-check-lg" viewBox="0 0 16 16"><path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/></svg>');
}
/* -----------------------------section 9---------------------------------------------------- */
.box1{
  background-color: var(--back);
  padding: 48px;
  border: 1px solid #dee2e6;
}
.box1 .pera1{
 color: var(--gray);
 font-family: 'roboto';
}
.how{
  font-weight: 600;
  font-family: var(--font2);
}
.how:hover{
color: var(--gray);
}
/* ----------------------------section 10----------------------------------------------- */
.last{
  font-family: 'roboto';
}
.logo-container {
  max-width: 200px;
}

.social-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.social-items {
  border-radius: 50%;
  font-size: 15px;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-items i {
  color: var(--white);
  transition: all 0.5s ease-in-out;
}
.social-items:hover i{
  transform: scale(1.2);
  color: var(--gray);
}
.bord{
  border-bottom: 1px solid white;
}
.last-menu span{
color: white;
padding-right: 8px;
font-weight: 600;
}

.last-menu span:hover{
 color: var(--gray);
}
.logo-filter {
  filter: brightness(200%) contrast(0%) saturate(200%) blur(0px) hue-rotate(0deg);
}
/* --------------testimonial-------------------------------- */
.dyas{
  font-family: roboto; 
  color: black;
   font-weight: 600; 
   font-size: 24px;
}
.testi {
  background-color: #ddd;
  padding-right: 50px;
  margin-right: 35px;
}
.testi1 {
  background-color: #ddd;
  padding-left: 50px;
  margin-left: 35px;
}
.testimonial-img {
  margin-bottom: -3rem;
  margin-top: 3rem;
}
.cont{
  margin-top: 48px;
}
.cont1{
  margin-top: 48px;
}
.spacer3{
  padding: 96px 32px 0px;
}
.spacer4{
padding: 0px 32px;
}